<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>csv2ots - Connexion</title>
</head>
<body>
    <div class="container">
        <form class="login" action="" method="post">
            <h1>Connexion</h1>
            <label for="1">Nom d'utilisateur:</label>
            <input type="text" id="1" name="username" required>
            <br>
            <label for="2">Mot de passe:</label>
            <input type="password" id="2" name="password" required>

            <button type="submit" style="margin-top: 20px;">Se connecter</button>
            <%= msg %>
        </form>
    </div>
</body>
</html>